html, body {
  height: 100%;
}

ul {
  list-style: none;
  display: flex;
  flex-direction: row;

  align-content: center;
  margin-top: 100px;
}

li{
  text-align: center;
  flex-grow: 1;
}

header{
}
