html{
  font-size: 62.5%;
}

body {
  height: 100%;
}

header{
  display: flex;
  justify-content: center;
}

#nav-bar {
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 100px;
  width: 500px;
}

.nav-items{
  flex: 1;
  text-align: center;
}

.nav-items a{
  font-size: 2em;
  font-family: sans-serif;
}

.nav-items a:link{
  text-decoration: none;
  color: #000;
}
