html{
  font-size: 62.5%;
}

body {
  height: 100%;
  background: #281E1E;
}

header{
  justify-content: left;
  position: relative;
  width: 150px;
  margin: 150px 0px 0px 30px;
  background: red;
}

#nav-bar {
  list-style: none;
  display: flex;
  flex-direction: column;
}

.nav-items{
  flex: 1;
  text-align: left;
  margin-bottom: 15px;
}

.nav-items a{
  font-size: 2.4rem;
  font-family: 'Fjalla One', sans-serif;
  font-weight: 600;
  color: #fff;
}

.nav-items a:link{
  text-decoration: none;
}

.nav-items a:visited{
}

.nav-items a:hover{
}

.nav-items a:active{
}

main{
  display: flex;
  flex-direction: row;
  justify-content: center;
}

main-container{
  width: 800px;
  margin-top: 0px;
}

main #about{
  font-size: 2rem;
  color: #fff;
  font-family: 'Fjalla One', sans-serif;
}
